body {
  background-color: #FFDD56;
  font-family: Arial, Helvetica, sans-serif;
  color: #0047CC;
}
h1,h2,h3 {
   margin: 5px;
}

h1 {
  font-size: 7.5vw;
}

h2 {
  font-size: 4vw;
}

h3 {
  font-size: 2.5vw;
}

p {
  color: #0047CC;
}

button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 5vw;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #2660CC;
  border: none;
  border-radius: 1.5vw;
  box-shadow: 0 1.5vw #999;
}

button:hover {background-color: #4B78CC}

button:active {
  background-color: #2660CC;
  box-shadow: 0 0 #666;
  transform: translateY(1.5vw);
}
.question {

}
.central-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 90vh;
}

.answers {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
gap: 100px;
margin: 25px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* it center the item vertically */
  justify-content: center;
  text-align: center;
  /* it center the item horizontally */
}
.lobby {
  display: grid;
  gap: 20px;
  grid-template-columns: 3fr 1fr;
}

.player {
  display: flex;
}

.player-list {
  list-style-type: none;
  font-size: 2vw;
  color: #0047CC;
  display: inline-block;
  background-color: #FFE896;
  padding: 10px;
  padding-bottom: 40px;
  width: 85%;
  margin: 10px;
  float: left;
}

ul {
  list-style-type: none;
}

.start-button {
width: 40vw;
height: 15vw;
}

.user {
  font-weight: bold;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 0px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

  font-size: 3vw;
  background-color: #4B78CC;
  color: #FFFFFF;
}

.form-text  {
  font-size: 4vw;
}

.join-button {
  margin-bottom: 50px;
}

.lobby-buttons {
  width: 40vw;
  height: 40vh;
  margin-top: 15vh;
}
