@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-primary: #FFDD56;
    --clr-secondary: #0047CC;
    --clr-light-gray: #999;
    --clr-btn-hover: #2d5fbc;
    --clr-btn-active: #2660CC;

    --fs-100: 5rem;
    --fs-300: 3rem;
    --fs-400: 1.5rem;
    --fs-500: 1rem;
    --fs-700: .75rem;
    --fs-900: .5rem;

    --fw-normal: 500;
    --fw-thin: 300;
    --fw-bold: 900;
}

html {
    color: var(--clr-secondary);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

body {
    height: 100vh;
    background-color: var(--clr-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: var(--fs-100);
    font-weight: var(--fw-bold);
    /* line-height: 1.25; */
}

h2 {
    font-size: var(--fs-300);
    font-weight: var(--fw-bold);
}

#container {
    display: flex;
    flex-direction: column;
    gap: 5em;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2em;
}

.buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5em;
}

@media (max-width: 50em) {
    .buttons-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

button {
    font-weight: var(--fw-bold);
    font-size: var(--fs-400);
    white-space: nowrap;
    color: white;
    background-color: var(--clr-secondary);
    padding: 2em 2em;
    cursor: pointer;
    border: none;
    border-radius: 1em;
    box-shadow: 0 1.5vw var(--clr-light-gray);
    min-width: 250px;
}

button:hover {
    background-color: var(--clr-btn-hover);
}

button:active {
    background-color: var(--clr-btn-active);
    transform: translateY(5px);
}

form {
    width: 100%;
}

form>ul {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
}

.form-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-row>label {
    flex: 1;
    /* text-align: end; */
    padding: .25em;
}

.form-row>input {
    font: inherit;
    font-weight: bold;
    flex: 1;
    padding: 1em;
}

label {
    font-size: var(--fs-400);
    font-weight: bold;
}

ul {
    list-style: none;
}

.lobby-header {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.lobby-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}